
@import url(https://fonts.googleapis.com/css?family=Oswald|Lora);
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Lora', serif;*/



/*nav*/
.logo {
    width: 65px;
}
.navbar-nav > li > a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    line-height: 30px !important;
    padding: 0px 30px;
    color: #5C3330 !important;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}
/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #F1D168;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}
/*nav*/

/*helpers*/
.paddingt50 {
    padding-top: 50px;
}
.paddingb50 {
    padding-bottom: 50px;

}

/*helpers*/

/*FOOTER*/
footer {
    background: #f4f4f3;
    width: 100%;
/* margin-top: 100px;*/

}
footer .pstef {
    margin-top: 20px;
    margin-bottom: 20px;
}
footer .pstef a {
    color: olivedrab;
    font-family: 'Oswald', sans-serif !Important;
}
footer .pstef a:hover {
    text-decoration: none;
}
footer .fa {
    padding: 10px 30px;
    font-size: 22px;
    color: #5C3330 !important;
}

footer p {
    font-family: 'Oswald', sans-serif !Important;
    font-size: 14px;
    color: orange;
}

.navbar {
    min-height: 70px;
}

.navbar-brand img {
    margin-left: 30px;
}

.menufinal {
    margin: 0 auto;
    width: 430px;
    display: block;
}

.title-carrito {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    color: dimgrey;
    margin-top: 50px;
    
}
.title-carrito-2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: dimgrey;
    text-align: left;
    
}
.textos-carrito {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}
.text-descrip-carrito {
    font-family:'Lora', serif;
    font-size: 14px;
    text-align: left;
}

    
}
.carrito {
    position: relative;
    margin-top: 100px;
    width: 80%;
}

.img-carrito{
    border: 1px solid #bdc3c7;
}
.carrito-sidebar {
    background-color: #eee;
    position: static;
    box-sizing: border-box;
    padding: 10px;
}

.carrito-sidebar h4 {
    background-color: #444;
    color: #fff;
    padding: 10px;
    margin: 0 0 10px 0;
    box-sizing: border-box;
}

.textbox { 
    border: 1px solid #999; 
    outline:0;
    padding: 0 2px;
    width: 50px; 
    text-align: center
}

.carrito-col {
    height: 180px;
}
.text-align-center {
    text-align: center;
}
/*final de contenido de pantilla.html*/

/*contenido de tienda.html*/

.contenido-tienda .col-md-4 {
    margin-top: 30px;
}
.contenido-tienda .col-md-4:hover .price {
    background: #A6BE4A;
    color: white;
    transition: all 0.5s ease;
}
.contenido-tienda a {
    color: #444444;
}
.margint30 {
    margin-top: 30px !Important;
}
.acerca {
    margin-top: 100px;
}
.video-header {
    background-color:gray;

}
.video-header video{
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.buscador-tienda {
    height: 100px;
    background-color: dimgrey;
}


.container-cajas {
    height:740px;
}

.box {
    width:300px;
    height:320px;
    border: 1px solid #ecf0f1;
    margin-top: 30px;
    display: inline-block;
    box-sizing: border-box;
}


.caja-interna{
    width:300px;
    height:50px;
    background-color: bisque;
}

.container-carrusel {
    height:350px;
    
    background-color:#ecf0f1;
    
}

/*final de contenido de tienda.html*/

/*contenido de producto*/

.btn-prices {
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #F4F4F4;
    border: 1px solid #ecf0f1 !important;
    font-family:'Oswald', sans-serif ;
    font-size: 12px;
    color: 
    
}

.btn-cantidad {
    font-family:'Oswald', sans-serif;
    font-size: 12px;
    background-color: #F4F4F4;
    border: 0!important;
    border-radius: 0;
    height: 31px;
    padding: 5px 13px;
    margin-top: 2px;
}

.inf-price {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    background: #F4F4F4;
    text-align: center;
    border: 1px solid #ecf0f1;
    color:black;

}
.inf-stars {
    padding-top: 5px;
    padding-bottom: 5px;
    color: orange;
    font-size: 18px;
    text-align: center;
    background: #F4F4F4;
    border: 1px solid #ecf0f1;

}

.titulo-detproducto {
    font-family: 'Oswald', sans-serif;

}
.description {
    font-family: 'Lora', serif;
    font-size: 16px;
}
.price {
    font-family: 'Oswald', sans-serif;
    background: #F4F4F4;
    padding: 10px 20px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}

.w100 {
    width: 100% !important;
}
.productos-relacionados .col-md-3 {
    margin-top: 30px;
}
.productos-relacionados .col-md-3:hover .price {
    background: #A6BE4A;
    color: white;
    transition: all 0.5s ease;
}
.numero{
    display: inline-block;
    width: 20%; 
}

.producto {
    height: 600px;
    background-color: dimgray;
}

.foto-detalle {
    margin-top:100px;

    display: inline-block;
}


}
.box-precio-puntaje {
    position: absolute;
    width: 400px;
    height: 50px;
    background-color: aqua;
}

.caja1 {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: yellow;
    float: left;
}

.caja2 {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: red;
    float: left;
}

.descripcion-producto {
    margin-top: 100px;
    display: inline-block;
}

.description{
    text-align: justify;
}
.productos-relacionados {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #ecf0f1;
}

.box-productos {
    margin-top: 30px;
    width: 230px;
    height: 250px;
    background-color: antiquewhite;
    display: inline-block;
}
/*final de contenido de producto.html*/


/*slideshow*/

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel {
    margin-top: 50px;
}

/*final del slideshow*/

/*Lightbox*/

.margintop {
    margin-top: 50px;
}

.margintop2 {
    margin-top: 20px;
}

.caja {
    background-color: transparent;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.title1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 25px;
}

.parrafo2 {
    font-family: 'Lora', serif;
    padding: 40px 40px 0px 40px;
}

.caja-principal {
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 5px;
}

.caja-principal2 {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    height: 590px;
}

.caja2 {
    margin-left:0px;
}

.parrafo3 {
    font-family: 'Lora', serif;
    padding: 40px 0px 0px 0px;
}

.centerp {
    font-family: 'Lora', serif;
    text-align: center;
}

.parrafo2 b {
    font-family: 'Oswald', sans-serif;
}


/*final de lightbox*/



.contacto {
    background: url('../img/cocina-contacto.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 150px 0px;
}
.cajacontacto {

    background-color: rgba(255,255,255,.6);
    border-radius: 7px;
    border: 2px solid #333;
    padding: 10px 5px;
}

.titleprincipal {
    font-family: 'oswald', serif;
    text-align: center;
    color: black;

}

.centrar {
    text-align: center;
}

.form-control {
    border: 1px solid #333;
}

/* servicios */

.title-servicio {
    font-family:'oswald', serif;
    
    
}

.text-servicio {
    font-family: 'Lora', serif;
    font-size: 16px;
    text-align: justify;
    
}
/* final de servicio */

/* boton carrito*/
.btn-carrito {
    color:#5C3330;
    font-size: 14px;
    font-family: 'oswald', serif;
    border-radius: 0;
    border: 0;  
}
/*fin de boton carrito*/

/* boton de registro*/
.btn-registrate{
    color:#5C3330;
    font-size: 14px;
    font-family: 'oswald', serif;
    border-radius: 0;
    border: 0;
}
/*final de boton*/

    