.menufinal {
  margin: 0 auto;
  width: 430px;
  display: block;
	position: relative,
}

.carrito {
	position: relative;
	margin-top: 100px;
	width: 80%;
}

.carrito-sidebar {
	background-color: #eee;
}

.carrito-sidebar h4 {
	background-color: #444;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
}