/*contenido de pantilla.html*/
.menufinal {
  margin: 0 auto;
  width: 430px;
  display: block;
}

.carrito {
	position: relative;
	margin-top: 100px;
	width: 80%;
}

.carrito-sidebar {
	background-color: #eee;
	position: static;
	box-sizing: border-box;
	padding: 10px;
}

.carrito-sidebar h4 {
	background-color: #444;
	color: #fff;
	padding: 10px;
	margin: 0 0 10px 0;
	box-sizing: border-box;
}

.textbox { 
  border: 1px solid #999; 
  outline:0;
	padding: 0 2px;
  width: 50px; 
	text-align: center
  }

.carrito-col {
	height: 180px;
}
.text-align-center {
	text-align: center;
}
/*final de contenido de pantilla.html*/

/*contenido de tienda.html*/
.video-header {
    height: 500px;
    background-color:gray;

}

.buscador-tienda {
    height: 100px;
    background-color: dimgrey;
}
.contenido-tienda {
    height: 740px;
    width: 960px;
    margin: 0 auto;
    background-color:gray;
}

.container-cajas {
    height:740px;
}

.box {
    width:300px;
    height:320px;
    background-color: aquamarine;
    margin-top: 30px;
    display: inline-block;
    box-sizing: border-box;
}

.caja-interna{
    width:300px;
    height:50px;
    background-color: bisque;
    

}

.contenido-carrusel {
    height: 400px;
  
}

.container-carrusel {
    height: 200px;
}

/*final de contenido de tienda.html*/

/*contenido de producto*/
.producto {
    height: 700px;
    background-color: dimgray;
}

.foto-detalle {
    margin-top:100px;
    height: 500px;
    background-color: blue;
    display: inline-block;
}
.box-producto {
    width: 500px;
    height: 500px;
}
.box-precio-puntaje {
    width: 500px;
    height: 100px;
}
.descripcion-producto {
    margin-top: 100px;
    height: 500px;
    background-color: whitesmoke;
    display: inline-block;
}
.productos-relacionados {
    height: 600px;
    background-color: gray;
}

.box-productos {
    margin-top: 30px;
    width: 230px;
    height: 250px;
    background-color: antiquewhite;
    display: inline-block;
}
/*final de contenido de producto.html*/

/*index*/

/*slideshow*/

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-carousel {
  margin-top: 50px;
}

/*final del slideshow*/

/*Lightbox*/

.margintop {
  margin-top: 50px;
}

.margintop2 {
  margin-top: 20px;
}

.caja {
  background-color: transparent;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.title1 {
  text-align: center;
  font-size: 25px;
}

.parrafo2 {
  padding: 40px 40px 0px 40px;
}

.caja-principal {
  border: 5px solid #D7D7D7;
  padding: 15px;
  border-radius: 5px;
}

.caja-principal2 {
  border: 5px solid #D7D7D7;
  padding: 5px;
  border-radius: 5px;
  height: 350px;
}

.caja2 {
  margin-left:0px;
}

.parrafo3 {
  padding: 40px 0px 0px 0px;
}


/*final de lightbox*/

<<<<<<< HEAD
/*final del index*/
=======
<<<<<<< HEAD
.main-container {
    padding: 40px 0;
    
/*  Blog empieza*/
element.style {
    margin-top: 0px;
        
 font-family: 'Open Sans', sans-serif;
 font-size: 15px;
 line-height: 1.50;
 color: #666666;
 background-color: #ffffff
}
/*  Blog termina*/
=======
>>>>>>> 948145cfe0156bd2532ff38bb725ac71624e527e
>>>>>>> a4475b015fc756392f0ac62420c47930e53c4e81
